*{
    box-sizing: border-box;
}

.container{
    text-align: center;
    padding: 10px 20px 15px 20px;
    margin: 150px; 
    border:0px solid rgba(247, 11, 11, 0.301);
    border-radius: 40px;
    background-color: #18c3dadc;
    background-image:url(images/3124512.jpg);
    background-position: bottom;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.main_heading{
    text-align:center ;
}

input[type="text"],
input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea{
    border-radius: 6px;
    padding:10px;
    border:1px solid rgba(21, 150, 236, 0.336);
    margin:10px;
    width:50%;
    font-size: 20px;
}

input[type="submit"]{
    background-color: rgba(98, 240, 80, 0.938);
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    width: 60%;
    text-align:center;
}
input[type="submit"]:hover{
    background-color: blueviolet;
}
.background{
    background-image: url(images/19-198406_60-best-relaxing-wallpapers-relaxing-wallpaper-hd.jpg);
    background-size: 100%;
    background-position: top;
}
    